body
{
	padding: 0;
	margin: 0;
}

*
{
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 14px;
}
#TutContainer
{
	position: fixed;
	top: 0;
	left: 0;
	cursor: copy;
}

#label
{
	display: block;
	margin-top: 5px;
	margin-left: 5px;
	width: 140px;
	height: 14px;
	line-height: 14px;
	overflow: hidden;
	color: #fafafa;
	font-size: 12px;
}

#gs
{
	position: fixed;
	width: auto;
	left: 20px;
	font-size: 16px;
	padding: 7px;
	opacity: 1;
}

#chat
{
	transition-duration: 0.6s;
	position: fixed;
	width: 350px;
	background: rgba(0, 0, 0, 0.1);
	font-size: 18px;
	line-height: 25px;
	color: #fff;
	bottom: 150px;
	left: 20px;
	padding: 20px;
	box-shadow: 0 0 1px 0 rgba(0,0,0,0.5);
	opacity: 0.5;
}

#chat:hover
{
	opacity: 1;
}

#chat_tb
{
	position: fixed;
	width: 290px;
	background: rgba(0, 0, 0, 0);
	font-size: 18px;
	line-height: 25px;
	color: yellow;
	bottom: 150px;
	left: 20px;
	padding: 0 20px 0 20px;
	border: none;
}

#chat_tb:hover #chat
{
	opacity: 1;
}

#inventory
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1366px;
	height: 125px;
	background: rgba(0, 0, 0, 0.1);
	font-size: 16px;
	color: #fff;
	border: solid 1px #540099;
	cursor: pointer;
	border-radius: 10px 0 0 0;
}


#inventory:hover > .item{
	position: absolute;
}

#inventory_content
{
	transform: rotate(-270deg);
	transform-origin: right top;
	position: absolute;
	margin-left: 1066px;
	margin-top: 152px;
	width: 150px;
	height: 1069px;
	background: rgba(0, 0, 0, 0.1);
	border-left: ridge 2px #000000;
	overflow-x: hidden;
	overflow-y: visible;
}

#right_part{
	position: absolute;
	bottom: 0px;
	right: 0px;
	background: #540099;
	width: 150px;
	height: 125px;
	border-top: ridge 2px #000000;
	-webkit-box-shadow: -17px 0px 10px 0px rgba(54, 0, 99, 0.5);
	-moz-box-shadow:    -17px 0px 10px 0px rgba(54, 0, 99, 0.5);
	box-shadow:         -17px 0px 10px 0px rgba(54, 0, 99, 0.5);
}

#playerMoney{
	position: absolute;
	margin-top: 20px;
	margin-left: 10px;
	height: 32px;
	width: 32px;
	background: url(assets/moneyIcon.png) 100% 100% no-repeat;
	background-size: cover;
}

#money{
	position: absolute;
	padding-top: 8px;
	padding-left: 41px;
	color: white;
}

#population{
	position: absolute;
	margin-top: 75px;
	margin-left: 10px;
	height: 32px;
	width: 32px;
	background: url(assets/fam.png) 100% 100% no-repeat;
	background-size: cover;
}

#pipls{
	position: absolute;
	padding-left: 40px;
	padding-top: 10px;
	color: white;
}
	

#settings_cont{
	position: absolute;
	bottom: 0px;
	left: 0px;
	background: #540099;
	width: 150px;
	height: 125px;
	border-top: ridge 2px #000000;
	-webkit-box-shadow: 17px 0px 10px 0px rgba(54, 0, 99, 0.5);
	-moz-box-shadow:    17px 0px 10px 0px rgba(54, 0, 99, 0.5);
	box-shadow:         17px 0px 10px 0px rgba(54, 0, 99, 0.5);
}

.item
{
	transform: rotate(-90deg);
	transform-origin: right-top;
	transition-duration: 0.3s;
	display: inline-block;
	background: rgba(0, 0, 0, 0.6);
	margin-left: 10px;
	margin-top: -28px;
	height: 125px;
	width: 100px;
	border-right: solid 1px black;
}

.item:hover
{
	background: rgba(0, 0, 0, 0.1);
	
}

.item:hover > img
{
	
}

.item:active
{
	border-bottom: solid 10px #540099;
}

.item > img
{
	transition-duration: 0.5s;
	float: both;
	display: block;
	width: 100px;
	height: 60px;
	border-bottom: solid 1px #000;
}

.item > .count
{
	position: absolute;
	color: #f0f0f0;
	font-size: 12px;
	margin-top: -50px;
}

.item > .label
{
	position: absolute;
	display: block;
	height: 48px;
	width: 100px;
	font-size: 16px;
	color: #fff;
}

#bar
{
	position: fixed;
	top: 10px;
	right: 50px;
	color: #fff;
	font-size: 16px;
	width: 600px;
}

#textbox
{
	transition-duration: 0.5s;
	position: absolute;
	bottom: 125px;
	right: 0px;
	opacity: 0.2;
	border: solid 2px #540099;
}

#textbox:hover
{
	opacity: 1;
}